body{
    background-color: #4a156d;
    
}

.wrapper{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: #98cde6;
    font-size: 30px;
    font-family: 'Lemon', serif

}

p{
    color: #fff;
    font-size: 30px;
    font-family: 'Lemon', serif

}

a:hover{
    color: #fff;
    font-size: 32px;
}